{% extends 'base.html.twig' %}

{% block body %}

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<a href="{{ url('contacts') }}" class="ui button">Liste des contacts</a>

{% endblock body %}